<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<!--<suite name="TestNG" parallel="methods" thread-count="2">-->
<suite name="TestNG">

    <parameter name="BaseUrl" value="https://qa.koel.app/"/>
    <test name="LoginTests" preserve-order="false">
        <classes>
            <class name="CucumberRunner"/>
            <!--<class name="BaseTest"/>-->
            <class name="LoginTests"/>
            <class name="RegistrationTests"/>
            <class name="ProfileTest"/>
            <class name="HomeTest"/>
            <class name="PlaylistTest"/>
            <class name="SongsTest"/>
        </classes>
    </test>
</suite>