<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestNG">

    <parameter name="BaseUrl" value="https://qa.koel.app"> </parameter>
        <test name="Example Test" preserve-order="false">
        <classes>
            <class name="LoginTests"/>
            <class name="BaseTest"/>
            <class name="Homework16"/>
            <class name="ProfileTest"/>
            <class name="Homework17"/>
            <class name="ExcelTesting"/>
            <class name="Homework19"/>
            <class name="Homework20"/>
            <class name="AllSongsTest"/>
            <class name="Homework21"/>
            <class name="Homework22"/>
        </classes>
    </test>
</suite>