<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestNg">

    <parameter name = "BaseUrl" value="https://qa.koel.app"/>
    <test name="Example Test" preserve-order="false">
        <classes>
            <class name="LoginTests"/>
            <class name="BaseTest"/>
            <!--<class name="Homework18"/>-->
            <class name="Homework19"/>
           <!-- <class name="HomeWork16"/>-->
           <!-- <class name="ProfileTests"/>-->
            <!--<class name="Homework17"/>-->

        </classes>
    </test>
</suite>